.header { /*obligation de mettre une classe sur le header pour sass?*/
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0, 30%);
        &__logo {
            height: 30px;
        }
  }  