$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

.explanation-section__button {
    display: inline-block;
    background: linear-gradient(to top left, $primary, $secondary);
    color: white;
    border-radius: 30px;
    padding: 15px 24px;
    box-shadow: 0px 7px 15px 0 rgb(0, 0, 0, 40%);
    transition: opacity 0.2s;
        &:hover {
            opacity: 0.7;
            box-shadow: 0px 14px 30px 0 rgb(0, 0, 0, 60%);
        }
}