body {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style-type: none;
  }
  
  body, html {
    font-family: "Roboto", sans-serif;
  }
  .section-global {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section--grey {
    background-color: #f6f6f6;
  }
  
  h1 {
    font-weight: 900
  }
  
  h2 {
    font-size: 18px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }
