header, main, footer {
    animation-name: opacity;
    animation-duration: 7s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Shrikhand;
    animation-fill-mode: forwards;
    animation-duration: 7s;
    animation-name: loader
 }

@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

  .loader__letter--primary {
    color: #9356DC; 
    font-size: 60px;
    animation: flash1 1.4s infinite;
}

  .loader__letter--secondary {
    color: #FF79DA; 
    font-size: 60px;
    animation: flash2 1.4s linear infinite;
}

  .loader__letter--tertiary {
    color: #99E2D0; 
    font-size: 60px;
    animation: flash3 1.4s linear infinite;
}

@keyframes flash1 {
  0% {
    color:#9356DC;
    text-shadow: 0 0 7px #9356DC;
  }

  90% {
    color:#ba9fda;
    text-shadow: none;
  }
  100% {
    color:#9356DC;
    text-shadow: 0 0 7px #9356DC;
  }

}

@keyframes flash2 {
  0% {
    color:#FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color:#fbabe5;
    text-shadow: none;   
  }
  100% {
    color:#FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@keyframes flash3 {
  0% {
    color:#99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
   90% {
    color:#c7e2db;
    text-shadow: none;
  }
    100% {
        color:#99E2D0;
        text-shadow: 0 0 7px #99E2D0;
    }
}

.loader__letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__letter:nth-child(2) {
  animation-delay: 0.2s;
}

.loader__letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__letter:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__letter:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__letter:nth-child(6) {
  animation-delay: 0.6s;
}
.loader__letter:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__letter:nth-child(8) {
  animation-delay: 0.8s;
}
